<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="examples.android.mac.com.org.todosobreandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SumActivity" />
        <activity android:name=".activities.ContentProvidersActivity"/>

        <service
            android:name=".services.GitHubService"
            android:enabled="true"
            android:exported="true"></service>

        <provider
            android:name=".database.StudentsProvider"
            android:authorities="com.example.provider.College" />

        <receiver android:name=".receivers.ReceiverComponent">
            <intent-filter>
                <action android:name="examples.android.mac.com.org.todosobreandroid.receivers.CUSTOM_INTENT"/>
                <action android:name="org.services.firebase.url.load.avatar.ok"/>
            </intent-filter>

        </receiver>


    </application>

</manifest>